@model List<TinyBlog.ViewModel.PostVM>
@{
    ViewData["Title"] = "List Of Posts";
}

<div class="container-fluid">
    <a class="mb-1 btn btn-primary" asp-action="CreatePost" asp-controller="Post" asp-area="Admin">Add Post</a>
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">List of Posts</h4>
        </div>
        <div class="card-body" style="background-color:lightgray;">
            @foreach (var post in Model)
            {
                <div class="rounded mb-4 bg-white p-2">
                    <div class="row">
                        <div class="col-2 d-flex justify-content-center flex-column">
                            @if (post.ThumbnailUrl == null)
                            {
                                <img class="img-fluid" src="~/thumbnails/maledefault.png" style="object-fit:cover; height:100%; width:100%">

                            }
                            else
                            {
                                <img class="img-fluid" src="~/thumbnails/@post.ThumbnailUrl" style="object-fit:cover; height:100%; width:100%">
                            }
                        </div>
                        <div class="col-5 d-flex justify-content-center flex-column">
                            <h4 style="font-size:1.5rem; font-weight:bolder;" class="text-primary fw-bold">@post.Title</h4>
                            <p>@post.CreatedDate</p>
                        </div>
                        <div class="col-5 text-right d-flex justify-content-center flex-column">
                            <h4 style="font-size:1rem;" class="fw-bold">@post.AuthorName</h4>
                            <div class="d-flex justify-content-end align-items-center">
                                <a class="bg-success p-1 text-light rounded" asp-action="Edit" asp-controller="Post" asp-route-id="@post.Id">
                                    <ion-icon name="create-outline" style="font-size: 28px;"></ion-icon>
                                </a>|
                                <form method="post" asp-area="Admin" asp-action="Delete" asp-controller="Post" asp-route-id="@post.Id" onsubmit="return confirm('Are you sure you want to delete?')">
                                   <input type="hidden" name="id" value="@post.Id">

                                    <button type="submit" class="bg-danger p-1 text-light rounded" style="border: none; background-color: transparent;">
                                        <ion-icon name="trash-outline" style="font-size: 28px;"></ion-icon>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        
    </div>
</div>
<script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js"></script>